/* Universal Style */
* {
  padding: 0;
  margin: 0;
}

/* Main Container */
.container {
  width: auto;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

/* Main Content here */
.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 12px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}
/* main content ends here */
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 20px;
  padding-left: 20px;
  margin-right: 25px;
}
/* elements */
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 1rem 50px;
  background: #ff5945;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 22px;
  margin-top: 20px;
  padding: 10px 10px 10px 50px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 5px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}

/* media query form here */

@media (max-width: 500px) {
  .body {
    width: 320px;
    height: auto;
    margin: 10px;
    padding: 10px;
  }
  .todo-app {
    width: 280px;
    height: auto;
  }

  button {
    width: 20px;
  }
}
